<article class="post">
    <header>
        <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nihil, eum at quis facere accusantium illo. Quam distinctio eligendi, sed placeat deserunt sunt aspernatur necessitatibus? Libero odio culpa recusandae, molestiae modi hic consequatur soluta facere excepturi rem amet sapiente sunt in dicta voluptatem harum similique vero. Animi harum asperiores doloribus?
    </div>
</article>